{
    "Params": {
        "DevMode": {
            "Instrumentation": {
                "command": "",
                "env": {
                    "BLUEMIX_APP_MGMT_ENABLE": "devconsole+shell+inspector",
                    "NODE_ENV": "development"
                },
                "memory": "384M"
            },
            "Packager": "com.ibm.perfectstorm.cloudoe.packager.LiveEditDeploymentPackager"
        },
        "Name": "conv-201-xxx-calc",
        "Target": {
            "Org": "4c300f63-0667-45bd-a374-2fde5dbd3720",
            "Space": "374af081-0f7e-4c34-a1c3-2f4d100e1379",
            "Url": "https://api.ng.bluemix.net"
        },
        "Timeout": 60
    },
    "Path": "",
    "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
    "Type": "Cloud Foundry"
}